extends ../layout

block content
  div(data-role="page", data-theme="a")
    div(data-role="header")
      h1= title
    div(data-role="content")
      img(src="http://dl.dropbox.com/u/5142417/trekdeck/images/cards/large/#{card.id}.jpg", width="300", height="432")
      h1= card.title